.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.cv-page a {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.15em;
}
