---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/travel" />
    <link rel="canonical" href="/travel" />
    <title>Travel</title>
  </head>
  <body>
    <a href="/travel">Travel moved to /travel</a>
  </body>
</html>
