---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About" sideBarActiveItemID="about">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Visited countries</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <p>Russian Federation</p>
      <p class="font-light text-sm">birthplace</p>
    </li>
    <li>
      <p>Belarus</p>
      <p class="font-light text-sm">somewhere in 2003-2005</p>
    </li>
    <li>
      <p>Spain</p>
      <p class="font-light text-sm">November 2019</p>
    </li>
    <li>
      <p>Gibraltar</p>
      <p class="font-light text-sm">November 2019</p>
    </li>
    <li>
      <p>Turkey</p>
      <p class="font-light text-sm">November 2021</p>
    </li>
    <li>
      <p>Georgia</p>
      <p class="font-light text-sm">March 2022; September - December 2022; September - December 2023</p>
    </li>
    <li>
      <p>Sri-Lanka</p>
      <p class="font-light text-sm">December 2022 - May 2023</p>
    </li>
    <li>
      <p>Maldives</p>
      <p class="font-light text-sm">June 2023</p>
    </li>
    <li>
      <p>United Arab Emirates</p>
      <p class="font-light text-sm">June 2023</p>
    </li>
    <li>
      <p>Armenia</p>
      <p class="font-light text-sm">Jule, August 2023</p>
    </li>
    <li>
      <p>Bahrain</p>
      <p class="font-light text-sm">10 December 2023 - 13 December 2023 (Manama)</p>
    </li>
    <li>
      <p>Bangladesh</p>
      <p class="font-light text-sm">14 December 2023 - 17 December 2023 (Dhaka)</p>
    </li>
    <li>
      <p>Thailand</p>
      <p class="font-light text-sm">17 December 2023 - 17 March 2024</p>
    </li>
    <li>
      <p>Myanmar</p>
      <p class="font-light text-sm">18 February 2024 (daily trip to Kawthoung)</p>
    </li>
    <li>
      <p>Malaysia</p>
      <p class="font-light text-sm">18 March 2023 - 26 March 2024 (Kuala Lumpur)</p>
    </li>
    <li>
      <p>Vietnam</p>
      <p class="font-light text-sm">26 March 2024 - Ongoing</p>
    </li>
  </ul>
</BaseLayout>
