---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
const currentAge = Math.floor((new Date() - new Date('1996-08-05')) / 31557600000);
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Personal info</div>
  </div>

  <div class="mb-10 text-justify">
    <b>Name:</b> Ilya Lebedev
    <br>
    <b>Birthdate:</b> 05.08.1996
    <br>
    <b>Age:</b>&nbsp;{currentAge}
    <br>
    <b>Citizenship:</b> Russia
    <br>
    <b>Location:</b> Flexible (digital nomad). Ready to relocate to any timezone/region.
    <br>
    <b>Languages:</b> Russian (Native), English (C2), Spanish (A1)
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Contact info</div>
  </div>

  <div class="mb-10 text-justify">
    <b>Website:</b>&nbsp<a href="https://ilyalebe.dev">ilyalebe.dev</a>
    <br>
    <b>Email:</b> ilya@nodes.garden
    <br>
    <b>Telegram:</b> @rubyminer
    <br>
    <b>Github:</b>&nbsp<a href="https://github.com/lebedevilya">lebedevilya</a>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I have been involved in Ruby application development since 2017, initially as a hobby and as my primary activity since 2019. My focus is primarily on backend development, with knowledge in frontend technologies. I am passionate about:
    <ul class="list-disc mx-6 my-2 grid gap-1">
      <li>Exploring new technologies and programming languages</li>
      <li>Creating applications with real-world impact</li>
      <li>Working remotely with discipline and autonomy</li>
    </ul>
    I have strong expertise in LLMs and crypto, a professional level of English, and experience working with clients from Europe, the US, and other regions.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master's degree in Applied Math and Computer Science"
      subtitle="2017 - 2019 at Saint-Petersburg State University, Saint-Petersburg, Russia"
    />
    <TimeLineElement
      title="Bachelor's degree in Applied Math and Computer Science"
      subtitle="2013 - 2017 at Saint-Petersburg State University, Saint-Petersburg, Russia"
    />
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>
  <div class="time-line-container mb-5">
    <TimeLineElement
      title="Founder & CEO"
      subtitle="May 2024 - Present at nodes.garden, remote"
    >
      <ul class="list-disc mx-6 mb-2 grid gap-2">
        <li>Developed initial web application (frontend/backend/API) fully from scratch with Ruby on Rails</li>
        <li>Scaled the app from 0 to 10,000 users</li>
        <li>Managed a full team of engineers as CEO</li>
        <li>Established partnerships with 20+ chains/protocols</li>
        <li>Completed Techstars Web3 '25, XFounders, founder.university acceleration programs</li>
      </ul>
      <span class="font-light text-sm">Technologies used: Ruby on Rails, Hotwire, TailwindCSS, PostgreSQL, Sidekiq, RSpec, Docker, fly.io, Google Cloud</span>
    </TimeLineElement>
    <TimeLineElement
      title="Ruby Developer"
      subtitle="Sep 2024 - March 2025 at reinvented-hospitality.com, remote"
    >
      <ul class="list-disc mx-6 mb-2 grid gap-2">
        <li>Successfully launched the POS (point of sales) app in collaboration with team in a short time frame</li>
        <li>Worked on hotel management system (rooms, bookings, e.t.c.)</li>
        <li>Implemented PunchClock system</li>
        <li>Worked with CSV/XML sales reports and exports</li>
      </ul>
      <span class="font-light text-sm">Technologies used: Ruby on Rails, Hotwire, TailwindCSS, PostgreSQL, Sidekiq, Minitest, Docker</span>
    </TimeLineElement>
    <TimeLineElement
      title="Ruby Developer"
      subtitle="Oct 2022 - Sep 2024 at xometry.de, remote"
    >
      <ul class="list-disc mx-6 mb-2 grid gap-2">
        <li>Successfully launched the UK region app in collaboration with team, contributed to the launch of the TR region.</li>
        <li>Designed and implemented the intercompany object system, serving as the foundation for async cross-regional communication (handling shipping, invoices, deals, organizations, etc.) in collaboration with team.</li>
        <li>Architectural design and implementation from scratch of HS codes system and all associated components.</li>
        <li>Architectural design and implementation of Colors system used in manufacturing.</li>
        <li>Continuous support and expansion of Salesforce integration.</li>
        <li>Worked with payment systems (Paypal, Stripe) to implement payment hold/capture/cancellation e.t.c.</li>
        <li>Worked in Customer account team (REST API, GraphQL and customer related logic).</li>
      </ul>
      <span class="font-light text-sm">Technologies used: Ruby on Rails, PostgreSQL, Sidekiq, GraphQL, Swagger, Rspec, RabbitMQ, Redis, Python, Airflow, Docker</span>
    </TimeLineElement>
    <TimeLineElement
      title="Worked on my own start-up & business"
      subtitle="Sep 2021 - Sep 2022"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Ruby Developer"
      subtitle="Sep 2020 - Sep 2021 at rubyroidlabs.com, remote"
    >
      Outsourcing various companies and clients, worked on multiple project including online stores, news feed hub, insurance start-up, e.t.c.
      <br>
      <span class="font-light text-sm">Technologies used: Ruby on Rails, PostgreSQL, Sidekiq, ReactJS, Grape, Docker, Docker Swarm, Stripe, AWS</span>
    </TimeLineElement>
    <TimeLineElement
      title="Ruby Developer"
      subtitle="Apr 2020 - Sep 2020 at igooods.ru, Saint-Petersburg, Russia"
    >
      Backend developer at retail office:
      Integration of Auchan shops, parsing various data from API, reports automatization. Worked with huge amounts of barcodes, photo uploads, e.t.c.
      Various admin side improvements for internal application.
      <br>
      <span class="font-light text-sm">Technologies used: Ruby on Rails, PostgreSQL, Resque, Rspec</span>
    </TimeLineElement>
    <TimeLineElement
      title="Ruby Developer"
      subtitle="Jun 2019 - Apr 2020 at sputnik8.com, Saint-Petersburg, Russia"
    >
      Worked as backend developer, multiple API integrations with various websites. API integration of payment systems like Yandex and Cloudpayments. Translated major part of the application to English language. Worked with multiple parsers and reports, different improvements of admin and client parts of application (user reviews, discount codes, e.t.c.)
      <br>
      <span class="font-light text-sm">Technologies used: Ruby on Rails, PostgreSQL, Sidekiq, VueJS, Heroku, Rspec</span>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-xl w-full">Internships during education</div>
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Web Development Intern"
      subtitle="Nov 2018 - May 2019 at Yandex, Saint-Petersburg, Russia"
    >
      Worked on internal service intented for frontend developers. 
      <br>
      <span class="font-light text-sm">Technologies used: Python, ReactJS, GraphQL</span>
    </TimeLineElement>
    <TimeLineElement
      title="C++/CUDA Developer Intern"
      subtitle="Jul 2018 - Aug 2018 at Joint Institute of Nuclear Research, Dubna, Russia"
    >
      Participated in summer student program. My project is "GNA framework: Implementation of GPU-based transformations"
      <br>
      <span class="font-light text-sm">Technologies used: C++, CUDA</span>
    </TimeLineElement>
    <TimeLineElement
      title="Quantitative research consultant"
      subtitle="Apr 2017 - Jul 2017 at WoldQuant LLC, Saint-Petersburg, Russia"
    >
      Building quantitative models aimed at predicting price movements of various asset classes.
      <br>
      <span class="font-light text-sm">Technologies used: Python</span>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-xl w-full">Personal projects</div>
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="nodes.garden"
      subtitle="currently operating"
    >
      Multichain Node as a Service Provider. Built with Ruby on Rails. Finalist of <a class="underline" href="https://backdropbuild.com/builds/v4/customscodes-5-ij" target="_blank">Backdrop Build V4</a>, <a class="underline" href="https://backdropbuild.com/builds/nodesgarden" target="_blank">Backdrop Build V5 and V6.</a> Completed <a class="underline" href="https://founder.university" target="_blank">founder.university cohort 9.</a>
    </TimeLineElement>
    <TimeLineElement
      title="customs.codes"
      subtitle="currently closed"
    >
      AI powered tool which helps you find customs codes for any type of goods. Built with Ruby on Rails during <a class="underline" href="https://backdropbuild.com/builds/v3/customscodes" target="_blank">Backdrop Build V3 contest and reached finals.</a>
    </TimeLineElement>
    <TimeLineElement
      title="souper.cafe"
      subtitle="currently closed"
    >
      Restaurant website/management system. Built with Ruby on Rails.
    </TimeLineElement>
    <TimeLineElement
      title="Jogurt OS"
      subtitle="currently closed"
    >
      Operating system for HDD based crypto mining (Chia). Based on Debian. Client side implemented on Java, server side built with Ruby on Rails.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.linkedin.com/feed/update/urn:li:activity:7384543453843648512/" target="_blank">XFounders '25 (nodes.garden)</a>
      <p class="font-light text-sm">2025 at Techstars</p>
    </li>
    <li>
      <a href="https://www.techstars.com/newsroom/announcing-the-techstars-web3-class-of-2025" target="_blank">Techstars Web3 '25 (nodes.garden)</a>
      <p class="font-light text-sm">2025 at Techstars</p>
    </li>
    <li>
      <a href="https://www.linkedin.com/posts/founder-university-co_more-end-of-cohort-pitches-from-our-cohort-activity-7290081544168214528-RsaF/" target="_blank">Founder.University Cohort 9 (nodes.garden)</a>
      <p class="font-light text-sm">2025 at founder.university</p>
    </li>
    <li>
      <a href="https://backdropbuild.com/builds/nodesgarden" target="_blank">BackdropBuild V6 finalist (nodes.garden)</a>
      <p class="font-light text-sm">2024 at backdropbuild.com</p>
    </li>
    <li>
      <a href="https://backdropbuild.com/builds/nodesgarden" target="_blank">BackdropBuild V5 finalist (nodes.garden)</a>
      <p class="font-light text-sm">2024 at backdropbuild.com</p>
    </li>
    <li>
      <a href="https://backdropbuild.com/builds/v4/customscodes-5-ij" target="_blank">BackdropBuild V4 finalist (nodes.garden)</a>
      <p class="font-light text-sm">2024 at backdropbuild.com</p>
    </li>
    <li>
      <a href="https://backdropbuild.com/builds/v3/customscodes" target="_blank">BackdropBuild V3 finalist (customs.codes)</a>
      <p class="font-light text-sm">2023 at backdropbuild.com</p>
    </li>
    <li>
      <a href="https://www.efset.org/cert/49rskH" target="_blank">EFSET English Certificate 87/100 (C2 Proficient)</a>
      <p class="font-light text-sm">2022 at efset.org</p>
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/certificate/ULVRXQQJXF7A" target="_blank">Basics of HTML & CSS</a>
      <p class="font-light text-sm">2019 at coursera.org</p>
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/certificate/95VX6JTVDL9B" target="_blank">Rails with Active Record and Action Pack</a>
      <p class="font-light text-sm">2018 at coursera.org</p>
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/certificate/TBX6ZKNAYZUF" target="_blank">HTML, CSS, and Javascript for Web Developers</a>
      <p class="font-light text-sm">2018 at coursera.org</p>
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/certificate/63M8RYYBC95H" target="_blank">Ruby on Rails: An Introduction</a>
      <p class="font-light text-sm">2017 at coursera.org</p>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="mb-3">
    <div class="text-xl w-full font-bold">Rails stack</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-5">
    <li>HTML</li>
    <li>CSS</li>
    <li>Tailwind</li>
    <li>Bootstrap</li>
    <li>Javascript</li>
    <li>SQL</li>
    <li>MongoDB</li>
    <li>PostgreSQL</li>
    <li>Ruby</li>
    <li>Ruby on Rails</li>
    <li>dry-rb</li>
    <li>RSpec</li>
    <li>Minitest</li>
    <li>Capybara</li>
    <li>REST API</li>
    <li>GraphQL</li>
    <li>Grape</li>
    <li>Swagger</li>
    <li>RabbitMQ</li>
    <li>Redis</li>
    <li>Stripe</li>
    <li>Paypal</li>
    <li>Copperx</li>
    <li>Heroku</li>
    <li>Google Cloud</li>
    <li>fly.io</li>
  </ul>

  <div class="mb-3">
    <div class="text-xl w-full font-bold">Other technologies</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-5">
    <li>python</li>
    <li>git</li>
    <li>bash</li>
    <li>Docker</li>
    <li>Docker Swarm</li>
    <li>C++</li>
    <li>CUDA</li>
    <li>OpenAI</li>
    <li>LLMs</li>
    <li>Airflow</li>
  </ul>
</BaseLayout>
