---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="lg:mt-4 lg:px-20">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Ilya Lebedev</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Entrepreneur</div>
    <div class="py-2">
      <text class="text-lg">
        I love to build products with real impact to the world. My main speciality is Ruby on Rails backend development and I'm constantly seeking opportunities to expand my knowledge and stay at the forefront of tech landscape.
      </text>
    </div>
    <div class="divider my-0"></div>
    <div class="py-2">
      <text class="text-lg">
        Besides web development, I really enjoy to interact with LLMs(created few apps in my free time) and crypto. Was mining ETH since 2016 until The Merge happened. Check my <a href="https://debank.com/profile/0x03a6948018941a8650c08145abba2f25cc79e32c"><u>DeBank profile</u></a>.
      </text>
    </div>
    <div class="divider my-0"></div>
    <div class="py-2">
      <p class="text-lg">
        I have a few other passions that keep me inspired. I enjoy traveling, and so far, I've had the pleasure of exploring 20 different countries (with many more on my list). When I'm not immersed in coding, you can find me playing ping-pong, flying FPV drone, or diving.
      </p>
    </div>

  <div class="pt-2">
    <div class="divider my-0"></div>
    <div class="pt-2">
      <a href="https://www.instagram.com/ilyalebe.dev/">
        <p class="text-lg">
        Subscribe to Instagram and check out my travels:
        <a class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 text-transparent bg-clip-text" href="https://www.instagram.com/ilyalebe.dev/">
          @ilyalebe.dev
        </a>
        </p>
      </a>
      <a href="https://www.youtube.com/channel/UCxdLFTIk7QMlunmCy4uC_Pw">
        <p class="text-lg">
        Youtube channel with travel videos: 
        <a class="bg-gradient-to-tr from-red-400 to-fuchsia-600 text-transparent bg-clip-text" href="https://www.youtube.com/channel/UCxdLFTIk7QMlunmCy4uC_Pw">
          @ilya0lebedev
        </a>
        </p>
      </a>

    </div>
  </div>

  <div class="mt-10 mb-20">
    <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
      <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl sm:w-72 sm:rounded-2xl rotate-2">
        <img src="/pic1.jpeg" loading="lazy" decoding="async" class="absolute inset-0 h-full w-full object-cover" style="color:transparent" sizes="(min-width: 640px) 18rem, 11rem">
      </div>
      <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl sm:w-72 sm:rounded-2xl -rotate-2">
        <img src="/pic2.jpeg" loading="lazy" decoding="async" class="absolute inset-0 h-full w-full object-cover" style="color:transparent" sizes="(min-width: 640px) 18rem, 11rem">
      </div>
      <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl sm:w-72 sm:rounded-2xl rotate-2">
        <img src="/pic3.jpeg" loading="lazy" decoding="async" class="absolute inset-0 h-full w-full object-cover" style="color:transparent" sizes="(min-width: 640px) 18rem, 11rem">
      </div>
    </div>
  </div>

  <div class="lg:px-28">
    <div class="text-3xl w-full font-bold mb-8">My last projects {"</>"}</div>

    <HorizontalCard
      title="nodes.garden"
      img="/nodes.png"
      desc="Multichain Node as a Service Provider. Finalist of Backdrop Build V4, V5 and V6. Accepted into founder.university."
      url="https://nodes.garden"
      badge="NEW"
      role="Creator"
    />
    <br>
    <HorizontalCard
      title="customs.codes"
      img="/codes1.png"
      desc="AI powered tool for searching HS codes. Built during Backdrop Build V3 contest and reached finals."
      url="https://customs.codes"
      role="Creator"
    />
    <br>
    <HorizontalCard
      title="souper.cafe"
      img="/souper.jpeg"
      desc="Kitchen & Tiki bar in Tbilisi, Georgia"
      url="https://souper.cafe/"
      role="Co-Founder"
    />
    <div class="divider my-2"></div>
<!--     <HorizontalCard
      title="Demo Project 2"
      img="/post_img.webp"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="#"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Demo Project 3"
      img="/post_img.webp"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="#"
      badge="FOSS"
    /> -->
</div>

<!--   <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
