---
const currentYear = new Date().getFullYear();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75">
    <p>Powered by <a href="https://astro.build/" class="font-bold">Astro 🚀</a></p>
  </div>
  <div class="pt-2">
    <p>&copy; {currentYear} Ilya Lebedev</p>
  </div>
</footer>
<style>

</style>
