---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class

const items = [
    { id: "home", label: "Home", href: "/" },
    { id: "cv", label: "CV", href: "/cv" },
    { id: "travel", label: "Travel", href: "/travel" },
    { id: "contact", label: "Contact", href: "/contact" },
];
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    {items.map((item) => (
        <li>
            <a
                id={item.id}
                href={item.href}
                class:list={["py-3 text-base", { [activeClass]: item.id === sideBarActiveItemID }]}
            >
                {item.label}
            </a>
        </li>
    ))}
</ul>
